# Lokale Terraform-filer
.terraform/
*.tfstate
*.tfstate.backup
crash.log
.terraform.lock.hcl

# Python-filer
__pycache__/
*.pyc
*.pyo
*.pyd
*.venv/

# AWS-legitimasjon (hvis lagret lokalt)
*.env
aws_credentials.json

# Ignorer loggfiler og midlertidige filer
*.log
*.tmp
.DS_Store

# BFG Repo-Cleaner JAR-fil
bfg-1.14.0.jar
